= bootstrap_devise_error_messages!
.panel.panel-default
  .panel-heading
    %h4= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}")
  .panel-body
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put , :multipart => true}) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        = f.label "Ім'я"
        = f.text_field :first_name, class: "form-control", value: current_user.first_name
      .form-group
        = f.label "Прізвище"
        = f.text_field :last_name, class: "form-control", value: current_user.last_name
      .form-group
        = f.label "Дата народження"
        = f.date_select :date_of_birth
      .form-group
        = f.label "Пароль"
        %i
          (#{t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave_blank_if_you_don_t_want_to_change_it")})
        %br/
        = f.password_field :password, :autocomplete => "off", class: "form-control"
      .form-group
        = f.label "Підтвердження пароля"
        %br/
        = f.password_field :password_confirmation, class: "form-control"
      .form-group
        = f.label "Пароль"
        %i
          (#{t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we_need_your_current_password_to_confirm_your_changes')})
        = f.password_field :current_password, class: "form-control"
      .form-group
        = image_tag(current_user.avatar.url)
        = f.file_field :avatar
        = f.hidden_field :avatar_cache
      = f.submit t('.update', :default => "Зберегти"), class: "btn btn-primary"
%p
  = t('.unhappy', :default => 'Незадоволені?')
  ? #{link_to t('.cancel_my_account', :default => "Видалити акаунт"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete}.
