= bootstrap_devise_error_messages!
.panel.panel-default
  .panel-heading
    %h4 Редагування аккаунту
  .panel-body
    = form_for(resource,
                as: resource_name,
                url: registration_path(resource_name),
                html: { method: :put, multipart: true }) do |f|
      .row
        .col-sm-6
          .form-group
            = image_tag(current_user.avatar.url, class: 'img-responsive')
          .form-group
            = f.file_field :avatar
            = f.hidden_field :avatar_cache
        .col-sm-6
          .form-group
            = f.label 'Емейл'
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label 'Ім\'я'
            = f.text_field :first_name, class: 'form-control',
                           value: current_user.first_name
          .form-group
            = f.label 'Прізвище'
            = f.text_field :last_name, class: 'form-control',
                           value: current_user.last_name
          .form-group
            = f.label 'Дата народження'
            = f.date_select :date_of_birth
      .form-group
        = f.label 'Пароль'

        %i
          (залиште поле пустим, якщо не хочете змінювати пароль)
        %br/
        = f.password_field :password,
                           autocomplete: 'off',
                           class: 'form-control'
      .form-group
        = f.label 'Підтвердження пароля'
        %br/
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group
        = f.label 'Пароль'
        %i
          (веддіть свій поточний пароль для підтвердження)
        = f.password_field :current_password, class: 'form-control'
      = f.submit 'Зберегти', class: 'btn btn-primary'

.panel.panel-default
  .panel-heading
    %h4 Видалення аккануту
  .panel-body
    Незадоволені?
    = link_to 'Видалити акаунт', registration_path(resource_name),
              data: { confirm: 'Ви впевнені?' },
              method: :delete,
              class: 'text-danger'
