= form_for @pet do |f|
  - if @pet.errors.any?
    #error_explanation
      %h2
        = pluralize(@pet.errors.count, "error")
        prohibited this pet from being saved:
      %ul
        - @pet.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label "Ім'я"
    = f.text_field :name, placeholder: "Вкажіть ім'я тваринки", class: 'form-control'
  .form-group
    = f.label 'Вік'
    = f.text_field :age, placeholder: 'Вкажіть вік тваринки', class: 'form-control'
  .form-group
    = f.label 'Він'
    = f.radio_button :gender, 'Він', :checked => true
    = f.label 'Вона'
    = f.radio_button :gender, 'Вона'

  .form-group
    = f.label 'Вид'
    = f.text_field :kind, placeholder: "Напр. Собака", class: 'form-control'
  .form-group
    = f.label 'Порода'
    = f.text_field :species, placeholder: "Напр. Пітбуль", class: 'form-control'
  .form-group
    = f.label 'Опис'
    = f.text_area :description, placeholder: 'Вкажіть опис тваринки', class: 'form-control'
  .form-group
    = f.file_field 'Фото'
    = f.hidden_field :avatar_cache, class: 'form-control'
  .form-group
    %button.btn.btn-default{:type => "submit"} Зберегти
