= form_for(@pet) do |f|
  - if @pet.errors.any?
    #error_explanation
      %h2
        = pluralize(@pet.errors.count, "error")
        prohibited this pet from being saved:
      %ul
        - @pet.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: "Вкажіть ім'я тваринки"
  .form-group
    = f.label :age
    = f.text_field :age, placeholder: 'Вкажіть вік тваринки'
  .form-group
    = f.label :male
    = f.radio_button :gender, 'Він', :checked => true
    = f.label :female
    = f.radio_button :gender, 'Вона'
  .form-group
    = f.label :description
  %br
    = f.text_area :description, placeholder: 'Вкажіть опис тваринки'
  .form-group
    %button.btn.btn-default{:type => "submit"} Зареєструвати улюбленця
