%p#notice= notice
%h1 Тваринки

%table.table
  %thead
    %tr
      %th Ім'я
      %th Вік
      %th Стать
      %th{:colspan => "3"} Дії
  %tbody
    - @pets.each do |pet|
      %tr
        %td= pet.name
        %td= pet.age
        %td= pet.gender
        %td= link_to 'Показати', pet
        - if user_signed_in? && pet_owner?(pet)
          %td= link_to 'Редагувати', edit_pet_path(pet)
          %td= link_to 'Видалити', pet, method: :delete, data: { confirm: 'Ви впевнені?' }
%br/

- if user_signed_in?
  = link_to 'Добавити улюбленця', new_pet_path
