%p#notice= notice
%h1 Pets

%table.table
  %thead
    %tr
      %th Name
      %th Age
      %th Gender
      %th{:colspan => "3"} Actions
  %tbody
    - @pets.each do |pet|
      %tr
        %td= pet.name
        %td= pet.age
        %td= pet.gender
        %td= link_to 'Show', pet
        %td= link_to 'Edit', edit_pet_path(pet)
        %td= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Pet', new_pet_path
