%p#notice= notice

- if has_any_pet?
  = link_to 'Добавити улюбленця', new_pet_path
  %ul.pets-list
    - @pets.each do |pet|
      %li.pets-list--item.pet
        = link_to '', pet, class: 'pet--menu-link -danger i fa fa-trash pet--cross',
                method: :delete, data: { confirm: 'Ви впевнені?' }, remote: true
        = link_to '', pet, class: 'pet--avatar', style: "background-image: url(#{pet.avatar.url})"
        .pet--info
          = pet.name

        %ul.pet--menu
          %li.pet--menu-item
            = link_to '', edit_pet_path(pet), class: 'pet--menu-link fa fa-pencil'
- else
  %h1 У вас ще немає тваринок
  = link_to 'Добавити улюбленця', new_pet_path
