.profile
  .profile--avatar{ style: "background-image: url(#{@user.avatar.url})" }
  .profile--info
    %h2.profile--name
      = "#{@user.first_name} #{@user.last_name}"
    %ul.profile--list
      %li.profile--list-item
        %span
          Вік:
        %span
          = @user.age
      %li.profile--list-item
        %span
          Місто:
        %span
          = @user.location
    %p.profile--text
      = @user.description

.pet-list
  .pet-box

-# динамічне редагування сторінки юзера
- if current_user == @user
  = javascript_include_tag 'user_actions/user_edit.js'
