%h1 Заявки

%ul.pets-list
  - @requests.each do |request|
    %li.pets-list--item.pet
      = link_to '', order_request_path(request.order, request), class: 'pet--avatar', style: "background-image: url(#{request.order.pet.avatar})"

      = link_to '', request, :method => :delete, :data => { :confirm => 'Ви впевнені?' }, class: 'pet--menu-link -danger i fa fa-trash pet--cross',
              method: :delete, data: { confirm: 'Ви впевнені?' }
      .pet--info
        = request.message

      %ul.pet--menu
        %li.pet--menu-item
          = link_to '', edit_request_path(request), class: 'pet--menu-link fa fa-pencil'
