%h1 Заявки

%table.table
  %thead
    %tr
      %th Повідомлення
      %th Стан
      %th{ colspan: '3' } Дії

  %tbody
    - @requests.each do |request|
      %tr
        %td= request.message
        %td= request.state
        %td= link_to 'Показати', request
        - if request_owner?(request)
          %td= link_to 'Редагувати', edit_request_path(request)
          %td= link_to 'Видалити', request, :method => :delete, :data => { :confirm => 'Ви впевнені?' }

%br

= link_to 'Нова заявка', new_request_path
