%p#notice= notice

.layout-primary
  .layout-primary--header
    %ul.layout-primary--list

      %li.layout-primary--list-item.media
        .media--avatar{ style: "background-image: url( #{@order.user.avatar })" }
        .media--info
          %span.media--name
            =  link_to "#{@order.user.first_name} #{@order.user.last_name}", user_path(@order.user)
          %ul.media--list
            %li.media--list-item
              %span
                Дата народження:
              %span
                = @order.user.date_of_birth


    .layout-primary--description
      %li.layout-primary--list-item.media
        .media--avatar{ style: "background-image: url( #{@order.pet.avatar })" }
        .media--info
          %span.media--name
            = link_to "#{@order.pet.name}", pet_path(@order.pet)
          %ul.media--list
            %li.media--list-item
              %span
                Вік:
              %span
                = @order.pet.age
            %li.media--list-item
              %span
                Стать:
              %span
                = @order.pet.gender
            %li.media--list-item
              %span
                Вид:
              %span
                = @order.pet.kind

      .text-block
        %h4.text-block--headline
          = @order.title
        %ul.text-block--list
          %li.text-block--list-item
            %span
              Опис:
            %span
              = @order.description
          %li.text-block--list-item
            %span
              Період:
            %span
              з
              = @order.start_date.strftime("%F")
              до
              = @order.end_date.strftime("%F")

              %span
                (
                = @order.period
                днів
                )

  .layout-primary--body

  %li.list-group-item.requests--item
    .requests--item--avatar{ style: "background-image: url(#{@request.user.avatar.url})" }
    .requests--item--info
      =  link_to "#{@request.user.first_name} #{@request.user.last_name}", user_path(@request.user)
      |
      =  @request.message
      |
      = form_for [@order, @request] do |f|
        = f.check_box :state
        = f.submit


- if user_signed_in? && request_owner?(@request)
  = link_to 'Редагувати', edit_order_request_path(@order, @request)
