= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "Оберіть тваринку:"
    = f.select "pet_id", current_user.pets.all.collect {|p| [ p.name, p.id ] }
  .form-group
    = f.label "Мета оголошення"
    = f.text_field :title, placeholder: "Взяти собаку на 3 дні"
  .form-group
    = f.label "Опис оголошення"
    %br
    = f.text_area :description, placeholder: "Дайте короткий опис ситуації!", cols: 40, rows: 10
    .form-group
    = f.label "Початкова дата"
    %br
    = f.date_select :start_date
  .form-group
    = f.label "Кінцева дата"
    %br
    = f.date_select :end_date
  .form-group
    %button.btn.btn-default{:type => "submit"} Створити Оголошення
