= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :start_date
    = f.date_select :start_date
  .form-group
    = f.label :end_date
    = f.date_select :end_date
  .form-group
    = f.label "Choose your pet:"
    = f.select "pet_id", current_user.pets.all.collect {|p| [ p.name, p.id ] }
  .form-group
    %button.btn.btn-default{:type => "submit"} Submit
