%ul.orders-list
  - @orders.each do |order|
    %li.orders-list--item
      .order
        = link_to order, class: 'order--inner' do
          .order--user
            .order--user-avatar{ style: "background-image: url('#{order.user.avatar}')"}
            .order--user-info
              %span.order--user-name
                = order.user.first_name
                = order.user.last_name
          .order--pet
            .order--pet-avatar{ style: "background-image: url('#{order.pet.avatar}')"}
              - if user_signed_in?
                - unless can_create_request?(order) || order_owner?(order)
                  .order--label Заявка вже надіслана
            .order--pet-info
              %span.order--pet-name
                = order.pet.name
              %ul.order--pet-list
                %li.order--pet-item
                  %p Вік
                  %p= order.pet.age
                %li.order--pet-item
                  %p Стать
                  %p= order.pet.gender
                %li.order--pet-item
                  %p Порода
                  %p= order.pet.species
              %p.order--message
                = truncate(order.title, length: 40)
        - if user_signed_in?
          - if order_owner?(order)
            %ul.order--menu
              %li.order--menu-item
                = link_to 'Редагувати',
                          edit_order_path(order),
                          class: 'order--menu-link'
              %li.order--menu-item
                = link_to 'Видалити',
                          order, method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'order--menu-link -danger'
