%nav.navbar-primary.-fixed.flex-layout--small
  .container.navbar-primary--inner
    .navbar-primary--logo
      = link_to 'Petkeeper', root_path, class: 'navbar-primary--logo-link'
    %ul.navbar-primary--list
      %li.navbar-primary--item
        = link_to 'Тварини', pets_path, class: 'navbar-primary--link'
      %li.navbar-primary--item
        = link_to 'Оголошення', orders_path, class: 'navbar-primary--link'
    - if user_signed_in?
      .navbar-primary--user
        .navbar-primary--user-inner.js-user-menu-trigger
          %span.navbar-primary--name
            = current_user.first_name
          .navbar-primary--avatar{ style: "background-image: url(#{current_user.avatar.url})" }
        .user-menu
          .user-menu--ava{ style: "background-image: url(#{current_user.avatar.url})" }
          = link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user), class: "user-menu--user"
          %ul.user-menu--list
            %li.user-menu--item
              = link_to 'Мої тваринки', my_pets_path, class: 'user-menu--link'
            %li.user-menu--item
              = link_to 'Мої оголошення', my_orders_path, class: 'user-menu--link'
            - if has_any_request?
              %li.user-menu--item
                = link_to 'Мої заявки', my_requests_path, class: 'user-menu--link'
            %li.user-menu--item
              = link_to edit_user_registration_path, class:"user-menu--link" do
                Налаштування
                %i.fa.fa-cog.fa-fw.fa-1x
            %li.user-menu--item
              = link_to destroy_user_session_path, :method => :delete, class:"user-menu--link" do
                Вийти
                %i.fa.fa-sign-out.fa-1x
    - else
      .navbar-primary--user
        = link_to 'Зайти', new_user_session_path, class: 'navbar-primary--login'

.navbar-primary--helper
