%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Petkeeper', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Головна', root_path
        %li
          = link_to 'Тварини', pets_path
        %li
          = link_to 'Оголошення', orders_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to 'Мої тваринки', my_pets_path
          %li
            = link_to 'Мої оголошення', my_orders_path
          - if has_any_request?
            %li
              = link_to 'Мої заявки', my_requests_path
          %li
            = link_to 'Вийти', destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to 'Зайти', new_user_session_path
